
<div class="container-fluid bg">
    <h1 class="h1">Destination</h1><br><br><br>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="assets/img/kerala.jpg" class="img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Manali</h5>
                    <p class="card-text">Manali is a beautiful hill station in Kullu District in the state of
                         Himachal Pradesh. above mean sea level.
                          Manali is located on the bank of Beas River about 39 km away from Kullu City hub 
                          and 268 km away from Shimla.</p>
                    <p>{{msg}}</p>
                    <button (click)="clickMore()">Read More</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="img" src="assets/img/kulu.png" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Kulu</h5>
                    <p class="card-text">Known as the 'Valley of Gods', Kullu is a cluster of beautiful valleys
                         in Himachal Pradesh. Located between the majestic Himalayas and river Beas,
                          Kullu is situated at an altitude of 1230 m. Kullu, along with Manali, 
                          are favorite hill stations .</p>
                    <p>{{msg1}}</p>
                    <button (click)="clickEvent()">Read More</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="img" src="assets/img/Ranipuram.jpg" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ranipuram</h5>
                    <p class="card-text">Ranipuram is a village and a major tourist attraction in the Kasaragod
                         district of the Indian state of Kerala. 
                         Ranipuram is 48 km from the nearest city Kanhangad and 107 km from 
                         the major port city of Mangalore..</p>
                    <p>{{msg2}}</p>
                    <button (click)="clickMsg()">Read More</button>
                </div>
            </div>
        </div>
        

    </div><br>
</div><br>